.header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 80px;
  height: 12vh;
  background-color: #f1f5f9;
}
.website-logo {
  height: 35px;
  width: 100px;
}
